body{
    color:white;
    background:black;
    margin:0px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(190,58,34);
    padding: 20px;
    font-size: 32px;
    color:rgb(190,58,34);
}

.titulos{
    background: rgb(176,70,55);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.filmes{
    display: flex;
    overflow-x: auto;
    gap:10px;
}

.video{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.filmes img{
    opacity: 0.5;
    height: 200px;
}

.filmes img:hover{
    opacity: 1.0;
    border: 1px solid white;
}

.video h2{
    color:rgb(190,58,34);
}